<h1>Edit <%= resource_name.to_s.humanize %></h1><br/>

<div id="content">
	<%= form_for(@user) do |f| %>
		<table class="details" border="0" cellspacing="2" cellpadding="2">
			<tr>
				<td>
					<%= f.label :first_name, "First name: " %>
				</td>
				<td>
					<%= f.text_field :first_name, :size => "25" %>
				</td>
			</tr>
			<tr>
				<td>
					<%= f.label :last_name, "Last name: " %>
				</td>
				<td>
					<%= f.text_field :last_name, :size => "25" %>
				</td>
			</tr>
			<tr>
				<td>
					<%= f.label :email, "Email:" %>			
				</td>
				<td>
					<%= f.email_field :email, :size => "25" %>
				</td>
			</tr>
			<tr>
				<td>
					<%= f.label :password, "Password:" %>
				</td>
				<td>
					<%= f.password_field :password, :size => "25" %>
				</td>
			</tr>
			<tr>
				<td>
					<%= f.label :password_confirmation, "Password confirmation:" %>
				</td>
				<td>
					<%= f.password_field :password_confirmation, :size => "25" %>
				</td>
			</tr>
			<tr>
				<td>
					<%= f.label :country, "Country: " %>
				</td>
				<td>
					<div class="input">
						<%= country_select("user", 'country', {}, {}, { :class => "country_select" }) %>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<%= f.label :city, "City: " %>
				</td>
				<td>
					<%= f.text_field :city, :size => "25" %>
				</td>
			</tr>
			<tr>
				<td align="center" colspan="3">
					<%= f.submit "Update" %>
				</td>
			</tr>
		</table>
		<%= render 'shared/error_messages', :object => f.object %>
	<% end %><br/>
</div>

