<p>Hi <%= @supplier.first_name %>!</p>

<p><%= @user.first_name %> just sent you the following message. Please remember to reply to the user not us at <%= @user.email %>.</p><br/>

<p><%= @contact.message %></p><br/>

<p>This email was generated automatically by mylmp. Please remember to contact the user at <%= @user.email %></p>

<p>Regards.
My Local Online Marketplace (mylmp) Team</p> 

