<h1> Sign up here! </h1><br/>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	<table class="details" border="0" cellspacing="2" cellpadding="2">
		<tr>
			<td>
				<%= f.label :first_name, "First name:" %>
			</td>
			<td>
				<%= f.text_field :first_name, :size => "20" %>
			</td>
		</tr>
		<tr>		
			<td>
				<%= f.label :last_name, "Last name:" %>			
			</td>
			<td>
				<%= f.text_field :last_name, :size => "20" %>
			</td>
		</tr>
		<tr>
			<td>
				<%= f.label :email, "Email:" %>
			</td>
			<td>
				<%= f.email_field :email, :size => "20" %>
			</td>
		</tr>
		<tr>
			<td>
				<%= f.label :password, "Password:" %>
			</td>
			<td>
				<%= f.password_field :password, :size => "20"  %>
			</td>
		</tr>
		<tr>
			<td>
				<%= f.label :password_confirmation, "Confirm password:" %>
			</td>
			<td>
				<%= f.password_field :password_confirmation, :size => "20" %>
			</td>
		</tr>
		<tr>
			<td align="center" colspan="3">
				<%= f.submit "Sign up" %>
			</td>
		</tr>
	</table>
<% end %>
<%= render 'shared/error_messages' %>

