<% if user_signed_in? %>
	<% unless @alerts.empty? %>
		<div id="content">
			<table class="alerts" summary="Product alerts">
				<tr>
					<td>
						<div class="alertbar">Your Supplier Alerts</div>
					</td>
				</tr>
				<%= render @alerts %>
			</table><br/>
		</div>
	<% end %>
	<% unless @user_contacts.empty? %>
		<div id="alert">
			<table class="user_contacts" summary="User contacts">
				<h2><div class="details">User Contacts</div></h2>
				<%= render @user_contacts %>
			</table>
		</div>
	<% end %>
	<% unless @recommended_supplier_alerts.empty? %>
		<div id="alert">
			<div class="dingbat">Recommended Suppliers</div>
			<table class="product_alerts" summary="Recommended suppliers">
				<%= render @recommended_supplier_alerts %>
			</table><br/>
		</div>
	<% end %><br/>
	<div id="content">
		<div id="newAlert">
			<h1>Tell people around your location what you need...</h1><br/>
			<%= render 'layouts/alert' %>
		</div><br/><br/><br/>
		<% unless @user_alerts.empty? %><br/>
			<div class="alertbar">What users around <%= current_user.city %> are looking for</div>
			<table class="product_alerts" summary="Product alerts">
				<%= render @user_alerts %>
			</table><br/>
		<% else %>
			<div class="alertbar">Be the first to post an alert in your location.</div>
		<% end %><br/>
	</div>
<% else %>
	<div id="headlines">
		<%= render 'shared/new'%>
	</div><br/>
	<div id="content">
		<div id="newAlert">
			<h1>Tell people around your location what you need...</h1><br/>
			<%= render 'layouts/alert' %>
		</div><br/><br/><br/>
		<ul>
			<li><strong>First you sign up on the right hand side of this page. Guess what? It's all free.</strong></li><br/>
			<li><strong>Then tell other people around your location what you need by posting an alert or even better see if you can provide what other users are looking for by contacting them and listing the item they want or by recommending them to your supplier network.</strong></li><br/>
			<li><strong>Good to go. After posting your alert you will be shown who has contacted you with the best offers. You can now start shopping and browsing easily within your supplier network, recommend your supplier/s to other users around you.</strong></li><br/>
		</ul>
		<div class="feature">
			<p>Let's say we are bringing your legitimate neighborhood hustler online. At mylmp (read my local marketplace) you decide whom to do business with by posting an alert of what you need and deciding from a variety of user contacts around your location who to buy from. You can recommend other users to your supplier network or even become a supplier yourself if you happen to have what other users are looking for.</p>
		</div>		
	</div>
<% end %>



