<pagenav>
	<div id="pageNav"><%= link_to "Home", root_path %> | <%= link_to "Pricing", pricing_path %> | 

				<% if user_signed_in? %>
					<%= link_to "Invite", new_supplier_invitation_path %> |
				<% end %>

				<% if user_signed_in? %>
					<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
				<% else %>
					<%= link_to "Sign in", new_user_session_path %>
				<% end %>

				<% if user_signed_in? %>
					| <%= link_to "Settings", edit_user_path(current_user) %>
				<% end %>

				<% if user_signed_in? %>
					| <%= link_to "Profile", current_user %>
				<% end %>

				<% if user_signed_in? %>
					| <%= link_to "New listing", new_listing_path %>
				<% end %>

				<% if user_signed_in? %>
					| <%= link_to "My listings", "#" %>
				<% end %>
			</div>
</pagenav>
